* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  border: 1px solid navajowhite;
  background-color: #2ecc71;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
}
.start {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 12px;
}
section {
  border: 1px solid black;
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50vh;
  margin-top: 5px;
  font-size: 18px;
}
button {
  height: 20px;
  width: 100px;
}
article {
  display: flex;
  border: 1px double black;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;
}
.Feature {
  border: 1px dotted black;
  background-color: #f8c291;
  flex: 1;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}
footer{
    background-color: #60a3bc;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    color: #f5f6fa;
}

