header{
    border: 2px solid rgb(50, 40, 40);
    background-color: rgb(206, 109, 109);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
}
.Portfolio{
    margin-top: 30px;
}
.file{
    position: absolute;
    right:20px;
    top: 50px;
    text-decoration: none;
   
}
.home, .Projects, .Contact{
     color: rgb(236, 249, 246);
     text-decoration: none;
     margin: 0px 5px;
     font-size: 15px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px 40px;
    border: 1px solid rgba(223, 208, 211, 0.455);
    background-color: aliceblue;
    margin-top: -20px;
    gap: 30px;
}
.parent{
    border: 1px solid rgba(223,208,211, 0.455) ;
    background-color: rgb(205, 219, 219); 
    justify-content: space-around;
}
li{
    list-style-type: none;
    display: inline;
    text-align: center; 
    padding: 10px 25px;
    border: 2px solid blanchedalmond;
    background-color: rgb(91, 203, 21);   
}
a{
    text-decoration: none;
    margin-right: 20px;
}
.child_2{
    justify-content:flex-end;
}
.end{
    border: 1px double white;
    text-align: center;
    background-color: pink;
}