*{
 ;
}
h1{
    background-color: burlywood
    
}
input{;
    width: 300px;
}
label{
    width: 300px;
}
#gui{
    background-color: green;
    text-align: center;
    color: blue;
}
.btn{
    width: 310px;
}
.tinnhan
{width: 310px;
height: 50px;
}
