*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(99, 186, 99);
    text-align: center;
    color: antiquewhite;
}
.nav{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.container{
    display: flex;
}
aside{
    border: 1px solid red;
    background-color: rgb(179, 190, 200);
    width: 100%;

}
.aside01{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
section{
    background-color: antiquewhite;;
}
.content1{
    margin-left: 20px;
}
.bv1{
    margin-left: 20px;
}
p::first-letter{
  margin-left: 20px;
}
article{
    background-color: rgb(124, 168, 145);
}
.container02{
    margin-left: 20px;
}
.bv2{
    margin-left: 20px;
}
footer{
    background-color: rgb(8, 8, 7);
    border: 1px solid pink;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}
