*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    background-color: bisque;
}
.big {
    border: 1px solid;
    width: 50vw;
    
    
}
.container-child {
    display: flex;
    
}
.small {
    border: 1px solid;
    width: 25vw;
}
