*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    
}
.big {
    border: 1px solid;
    display: flex;

    
    
}
.container-child {
    display: flex;
}
.small {
    border: 1px solid;
    
}
