* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.home {
  width: 240px;
  height: 100vh;
  background-color: #f6f8f9;
}
.home--logo {
  width: 152px;
  height: 40px;
  display: flex;
  gap: 6px;
  margin: 14px 74px 16px 14px;
}
.home--logo__img {
  width: 24px;
  height: 24px;
}
.home--logo__p {
  width: 102px;
  height: 24px;
}

.home--item {
  display: flex;
  width: 208px;
  height: 32px;
}
.home--menu {
  width: 208px;
  height: 96px;
  margin: 16px 16px auto 16px;
}
.home--item1 {
}
.fa-solid,
.fa-regular,
.fa-folder {
  width: 24px;
  height: 24px;
}
.manager {
  background-color: #ffffff;
  flex: 1;
}
.manager--icon {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #e5e9eb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-bell {
  width: 36px;
  height: 36px;
  margin: 12px;
  padding-top: 10px;
}
.manager-avt {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 24px;
}
.manager-logout{
  display: flex;
    justify-content: flex-end;
    margin-right: 24px;
    margin-top: 5px;
}
.manager-button {
  width: 240px;
  display: inline-flex;
  align-items: center;
  gap: 12px; 
  padding: 14px 24px;
  background: #ffffff;
  color: #1f2937;
  border: 1px inset #e5e7eb; /* viền nhạt */
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

/* icon */
.manager-button i {
  font-size: 18px;
  color: #374151;
}
.manager-text-b{
    font-size: 24px;
    margin-left: 24px;
}
.manager-button:hover {
  background-color: #D7EDFF;
  cursor: pointer;
}