@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fafc;
}
.form {
  width: 535px;
  height: 574px;
}
.form-header {
  padding-bottom: 30px;
}
.title {
  font-size: 52px;
  padding-bottom: 10px;
}
.description {
  font-size: 18px;
  color: #52525b;
  line-height: 30px;
}
.form-body {
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.form-label {
  font-size: 16px;
  padding-bottom: 15px;
}
.form-input {
  border-radius: 5px;
  height: 60px;
  width: 526px;
  border: 1px solid #cbd5e1;
  margin-top: 11px;
}
.group {
  padding-bottom: 20px;
}
.button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 30px;
}
.form-button {
  width: 535px;
  height: 55px;
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 7px;
  border: 1px solid;
  margin-top: 34px;
}
.button-forget-pass {
  color: #2563eb;
  text-decoration: none;
}
.form-account {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  ext-decoration: none;
}
.form-account-register {
  text-decoration: none;
  color: #2563eb;
}
.form-account-text, .button-save{
 color: #52525b;
}
.users { 
  display: flex;
  justify-content: center;
  margin-top: 34px;
}
.users-p {
}
.users-link {
  text-decoration: none;
}
.button-pass-mobile {
  display: none;
}
@media (max-width: 450px) {
  .form{
    height: 540px;
    margin: 20%;
  }
  .form-body{
    width: 418px;
    height: 300px;
  }
  .form-label{
    width: 418px;
    height: 48px;
  }
  .form-input, .form-button{
    height: 40px;
    width: 100%;
  }

  .button-pass-mobile {
    display: flex;
    gap: 10px;
  }
  .button{
    display: none;
  }

}
