.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fafc;
}
.form {
}
.form-header {
  padding-bottom: 30px;
}
.title {
  font-size: 30px;
  padding-bottom: 10px;
}
.description {
  font-size: 18px;
  color: #52525b;
}
.form-body {
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.form-label {
  font-size: 18px;
  padding-bottom: 15px;
}
.form-input {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  border-color: #cbd5e1;
}
.group {
  padding-bottom: 20px;
}
.button {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.form-button {
  width: 100%;
  height: 40px;
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 7px;
  border: 1px solid;
}
.button-forget-pass {
  color: #2563eb;
  text-decoration: none;
}
.form-account {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  ext-decoration: none;
}
.form-account-register {
  text-decoration: none;
  color: #2563eb;
}
.form-account-text, .button-save{
 color: #52525b;
}