@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  line-height: 25px;
}
.input-nav {
  width: 100%;
  height: 30px;
}
.register-title {
  margin-bottom: 20px;
}
.register-content {
  margin-bottom: 20px;
  color: #667085;
}
.nav {
}
.name-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.nav-name {
}
.nav-name-text {
}
.nav-name-input {
}
.nav-email {
  margin-bottom: 20px;
}
.nav-email-text {
}
.nav-email-input {
}
.nav-pass {
  margin-bottom: 20px;
}
.nav-pass-text {
}
.nav-pass-input {
}
.nav-confirm {
  margin-bottom: 20px;
}
.nav-confirm-text {
}
.nav-confirm-input {
}

.nav-check,
.nav-account {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.nav-check-box {
}
.nav-check-p {
}
.nav-check-a,
.nav-account-h {
  text-decoration: none;
}
.button {
  background-color: #0d33eeaf;
  color: #ffffff;
  border-radius: 5px;
  border: #ffffff;
  margin-bottom: 20px;
}
.nav-account {
   display: flex;
   justify-content: center;
.nav-account-p {
}
.nav-account-h {
}
