@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  line-height: 25px;
  width: 100%;

}
.input-nav {
  width: 100%;
  height: 30px;
  display: block;
}
.register-title {
  margin-bottom: 20px;
}
.register-content {
  margin-bottom: 20px;
  color: #667085;
}
.name-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.nav-email {
  margin-bottom: 20px;
}
.nav-pass {
  margin-bottom: 20px;
}
.nav-confirm {
  margin-bottom: 20px;
}
.nav-check,
.nav-account {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.nav-check-a,
.nav-account-h {
  text-decoration: none;
}
.button {
  background-color: #0d33eeaf;
  color: #ffffff;
  border-radius: 5px;
  border: #ffffff;
  margin-bottom: 20px;
}
.nav-account {
   display: flex;
   justify-content: center;
}
@media (max-width: 450px) { 
  .register{
    margin-top: 20%;
  }
  .name-container{
    display: flex;
    flex-direction: column;
  }
}