*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#333;
    display: flex;
    justify-content:space-between;
    color: #e5dece;
    gap: 20px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
.nav1{
    display: flex;
    gap: 20px;
}
.nav{
    color: #e5dece;  
}
section{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;   
}
article{
    margin: 10px;
    border-radius: 10%;

}
span{
    display: flex;
    gap: 10px;
    
}
.box3, .box1, .box2{
    background-color: #cccccc;
    flex: 1;
    margin: 5px;
    text-align: center;
}
@media (max-width: 768px){
    span{
        display: block;
    }
    .box1, .box2, .box3{
        margin: 20px;
    }
    
}
    
}