*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    padding-left: 20%;
    padding-bottom: 20px;
}
form{
    margin-left: 15%;
    margin-top: 10%;
}
input {
    height: 30px;
    width: 150px;
    margin-right: 10px;
}
button {
    width: 100px;
    height: 30px;
    background-color: rgb(90, 146, 223);
    color: white;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
th, td {
  border-bottom: 1px solid #000;
  padding: 8px;
}
