*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    background-color: rgb(67, 39, 39);
    color: rgb(218, 230, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    font-size: 20px;
}
.nav{
    color: rgb(91, 110, 110);
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 12px;
}
.nav1{
    color: rgb(15, 221, 128);
}
section, article{
    background-color: aquamarine;
    font-size: 20px;
    margin:0.5rem 15rem ;
    padding: 10px 20px;
    line-height: 50px;
}
footer{
    background-color: rgb(67, 39, 39);
    text-align: center;
    font-size: 20px;
    color: rgb(218, 230, 230);
    padding: 20px;
}
