* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding:15px 30px;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}
.nav {
  display: flex;
  gap: 20px;
}
.usa,
.Delowar {
  display: flex;
  align-items: center;
}
.nav1 {
  display: flex;
  border-left: 1px solid;
}
.menu {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.cap {
  opacity: 0.4;
}
main {
  background: #fafafb;
  margin-left: 10em;
  margin-right: 10em;
}
.abc {
  width: 60%;
  padding: 20px;
  line-height: 40px;
}
tbody{
  width: 20%;
}
.card1{
  width: 40%;
}
.iconsua{
  width: 10%;
}
.item {
  display: flex;
  background-color: #f4f4f6;
  justify-content: space-between;
  margin: 10px;
  width: 80%;
}
.img-mayment {
  width: 80%;
}
.card {
  display: flex;
  gap: 10px;
}
.card-number {
  display: flex;
  border: 1px solid blue;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.expiry-date {
  display: flex;
  justify-content: space-between;
}
.mm,
.cvc {
  border: 1px solid #e9e9e9;
  width: 20vw;
}
.next {
  background-color: #3c71fe;
  color: #e6ecff;
  border-radius: 10px;
  width: 25vw;
  height: 30px;
}
.tong{
  display: flex;
  gap: 10px;
}
aside {
  border: 1px solid #e9edf5;
  background-color: #ffffff;
  padding: 10px;
  width: 35%;
  line-height: 40px;
}
.view {
  display: flex;
  gap: 5px;
}
.img-daniel {
  border-radius: 10px;
  width: 100%;
}
.data,
.room {
  opacity: 0.4;
}
.check {
  display: flex;
  opacity: 0.4;
  justify-content: space-between;
}
.check-in {
  border-top: 1px solid #e9e9e9;
}
.check-out {
  border-left: 1px solid #e9e9e9;
}
.guest {
  opacity: 0.4;
}
.total {
  display: flex;
  justify-content: space-between;
}
.money {
  opacity: 0.4;
}
#sum {
  border: 1px solid #f4f5f6;
  background-color: #f4f5f6;
  border-radius: 10px;
}
.report {
  text-align: center;
  opacity: 0.4;
}
article {
  position: relative;
}
  


.imgtarget{
  width: 100%;
  text-align: center;
}
.text1 {
  position: absolute;
  top: 10%;
  padding: 5%;
  color: #e9e9e9;
  display: flex;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;

}
.content1{
    font-size: 20;
    line-height: 1.5;
}
.get{
  font-size: 10;
}
.content2{
    display: flex;
    border: 1px solid #fcfcfd;
    background-color: #fcfcfd;
  align-items: center;
  height: 50px;
  
}
#input-email{
  border: none;
}
.sub{
    background-color: #353945;
    color: #f8f8f8;
    margin: 5px;
    border-radius: 10px;
    height: 80%;
}
footer{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 10%;
   
}
.logo101, .service, .support, .business {
    width: calc(100%-20px);
    line-height: 30px;

}
.setting{
    width: 10em;
    height: 3em;
    border: 1px solid ;
    border-radius: 10%;

}