* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.usa,
.Delowar {
  display: flex;
  align-items: center;
}
.nav1 {
  display: flex;
  border-left: 1px solid;
  gap: 20px;
}
.log {
  display: flex;
  gap: 20px;
}
.home {
  display: flex;
  padding-top: 100px;
  margin-left: 5%;
  gap: 10px;
}
.conp {
  opacity: 0.5;
}
header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.usa,
.Delowar {
  display: flex;
  align-items: center;
}
.nav1 {
  display: flex;
  border-left: 1px solid;
}
/* --phan than */
.container {
  display: grid;
  grid-template-areas:
    "confirm-book book-detail"
    "payment book-detail";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 20px;
  padding-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}
.date-p {
  opacity: 0.5;
}
.box-h1 {
  font-size: 40px;
  line-height: 100px;
  border-bottom: 1px solid #966565d9;
}
.box-h2 {
  font-size: 30px;
  line-height: 70px;
}
.item {
  display: flex;
  background-color: #f4f4f6;
  justify-content: space-between;
  margin: 20px;
  width: 50%;
}
.iconsua {
  width: 10%;
}
.confirm-book {
  grid-area: confirm-book;
}
.payment {
  grid-area: payment;
}
.book-detail {
  grid-area: book-detail;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  line-height: 50px;
}
.view {
  display: flex;
}
.check {
  display: flex;
  gap: 10%;
  opacity: 0.5;
}
.check-in {
  border-top: 1px solid #ddd;
}
.check-out {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}
.guest {
  opacity: 0.5;
}
.total {
  display: flex;
  justify-content: space-between;
}
.money {
  opacity: 0.5;
}
#sum {
  border: 1px solid transparent;
  background-color: #ddd;
  border-radius: 10px;
}
.report {
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
}
/* phan the credit */
.payment {
  font-size: 20px;
  line-height: 50px;
}
.number-card-p {
  opacity: 0.5;
}
.card-number {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 1px solid transparent;
  background-color: #f4f4f6;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5;
}
.expiry-date {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5;
}
.mm,
.cvc {
  background-color: #f4f4f6;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 10px;
}
.next {
  background-color: rgb(147, 147, 245);
  color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
/* phan than 2 */
.text1{
    background-image: url(./img/bg.png);
    text-align: center;
    height: 200px;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.content1-p{
    margin-left: 5vw; ;

}
.content2 {
  display: flex;
  border: 1px solid #fcfcfd;
  background-color: #fcfcfd;
  align-items: center;
  height: 30%;
  width: 40%;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 5%;
  margin-right: 20px;
}
#input-email {
  border: none;
}
.sub {
  background-color: #353945;
  color: #f8f8f8;
  margin: 5px;
  border-radius: 10px;
  height: 80%;
}
/* phan cuoi */
footer {
  display: flex;
  gap: 5%;
  padding: 20px;
  margin: 10%;
}
.logo101,
.service,
.support,
.business {
  width: calc(100%-20px);
  line-height: 30px;
}
.setting {
  width: 7em;
  height: 3em;
  border: 1px solid;
  border-radius: 10%;
}
.footer-p {
  opacity: 0.5;
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-areas:
      "confirm-book"
      "book-detail"
      "payment";
  }
  item,
  .card-number,
  .expiry-date {
    width: 100%;
  }
  article {
    margin: 5vw;
    overflow: hidden;
  }
  .text1{
    display: block;
    margin-left: 5%
    
  }
 .content1{
    font-size: 80%;
    line-height:40px;
 }
footer{
    flex-direction: column;
    display: flex;
    gap: 20px
 }
 .p-an{
    display: none;
 }
 .logo101{
    order: 4;
 }
}
