* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#333333, #090707);
}
/* phan dau ok */
.intro {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  align-items: center;
  width: 100%;
}
.intro--logo {
  padding: 24px;
}
.intro--nva__center {
  display: flex;
  gap: 46px;
  padding-right: 5vw;
}
.intro--nva {
  display: flex;
  gap: 27px;
  color: #ffffff;
  align-items: center;
}
.intro--nva__right {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  margin: 20px;
}
/* phan than doan 1 ok */
.hero-box {
  margin-left: 70px;
  margin-right: 70px;
}
.hero-title {
  margin-top: 150px;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 59px;
  color: white;
  text-align: center;
}
.blue-text {
  color: #2d8cff;
}
.hero-desc {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 40px;
  text-align: center;
}
/* Vùng chứa 2 nút */
.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
/* Nút trái */
.btn-left {
  background-color: #0d6efd;
  color: white;
  padding: 12px 34px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
/* Nút phải */
.btn-right {
  background-color: transparent;
  color: white;
  padding: 12px 34px;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 16px;
  cursor: pointer;
}
/* phan than 2 */
.twoBox {
  text-align: center;
  margin-bottom: 150px;
}
.twoBox--img {
  height: 400px;
  width: 800px;
  margin-top: 54px;
}
/* phan than 3 */
.threeBox {
  text-align: center;
  margin-bottom: 150px;
}
.threeBox--content1 {
  color: #ffffff;
  margin-bottom: 19px;
}
.threeBox--content2 {
  color: #ffffff;
}
/* phan than 4 */
.fourBox {
  display: flex;
  gap: 30px;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  margin: 50px 10%;
}
.fourBoxLeft {
  background-color: #c96408;
  border-radius: 10px;
}
.fourBoxLeft--menu1 {
  position: relative;
}
.corner {
  position: absolute;
  width: 60px;
  top: -50px;
}
.fourBoxLeft--menu1__logo1 {
  left: -30px;
  width: 100px;
}
.fourBoxLeft--menu1__logo2 {
  right: -50px;
  width: 100px;
}
.fourBoxLeft--menu1 {
  right: 10px;
}
.fourBoxLeft--menu2 {
  text-align: center;
}
.fourBoxLeft--menu2__content1 {
  font-size: 30px;
  line-height: 50px;
}
.fourBoxCenter {
  background-color: #7937bb;
  text-align: center;
  border-radius: 10px;
}
.fourBoxCenter--div__content1,
.fourBoxRight--content1 {
  font-size: 30px;
  line-height: 50px;
}
.fourBoxRight {
  text-align: center;
  border-radius: 10px;
  background-color: #3775ed;
}
/* phan than 5 */
.Box5--img {
  text-align: center;
  border-bottom: 1px solid #282828;
}
.Box5--img_small {
  width: 80vw;
}
.butget-container {
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #282828;
}
.butget {
  background-color: #2d8cff;
  padding: 12px 34px;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 16px;
  cursor: pointer;
}
/* phan than 6 */
.mess-total {
  margin-top: 50px;
}
.mess {
  text-align: center;
  line-height: 100px;
}
.content-menu {
  color: #ffffff;
}
/* than 7 */
.img-enjoy {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
  border-bottom: 1px solid #282828;
  padding-bottom: 100px;
}
.img--enjoy__size{
  width: 80%;
}
.end-container {
  width:80%;
  margin-right: 10%;
  margin-left: 10%;
  /* border-bottom: 1px solid #282828;
  padding-bottom: 50px; */
}

.end {
  border: 1px solid transparent;
  background-color: #3775ed;
  height: 300px;
  text-align: center;
  color: #ffffff;
  line-height: 52px;
  padding-top: 48px;
}
.conten-end {
  font-size: 50px;
}
.conten-endp {
  font-size: 22px;
}
.conten-endb {
  font-size: 14px;
  padding: 16px 60px;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 16px;
  cursor: pointer;
}
/* phan ket */
.last {
  display: flex;
  border-top: 1px solid #282828;
  padding: 20px 10% 10px 10%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 51px;
  color: #ffffff;
}