* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#333333, #090707);
}
.end-container {
  border-top: 1px splid #282828;
  /* margin-top: 51px; */
  /* width: 80px; */
  /* margin-right: 10%; */
  /* margin-left: 10%; */
}

.end {
  border: 1px solid transparent;
  background-color: #3775ed;
  height: 300px;
  text-align: center;
  color: #ffffff;
  line-height: 52px;
  padding-top: 48px;
}
.conten-end {
  font-size: 50px;
}
.conten-endp {
  font-size: 22px;
}
.conten-endb {
  font-size: 14px;
  padding: 16px 60px;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 16px;
  cursor: pointer;
}
