.parent{
    display: flex;
    gap: 1px;
    
    
}
.item{
    border: 1px solid black;
    width: 100%;
    background-color: rgb(18, 54, 16);
    color: aliceblue;
    padding: 10px;
}
@media (max-width: 480px){
  .parent{
    display: block;
  }
  .item{
    background-color: rgb(16, 20, 20);
    color: aquamarine;
    padding: 10px;
  }
  section{
    margin: 20px;
  }
}